################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Fekrah/API/ClientApp/package-lock.json
/Fekrah/Bussiness/obj/Debug/net8.0/Bussiness.AssemblyInfo.cs
