body {
  direction: rtl;
  text-align: right;
  font-family: "Cairo", "Tajawal", "sans-serif"; // خطوط عربية جميلة
}

button {
  text-align: center;
  margin-left: 0;
  margin-right: auto;
}

* {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
