.part-preview-section {
  margin: 40px 0;
  position: relative;
  padding: 30px 20px;
  border-radius: 12px;
  overflow: hidden;
  z-index: 1;

  background-image: url("../../../../../assets/images/background4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .section-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff; // لون أوضح على الخلفية
    z-index: 2;
    position: relative;
  }

  .swiper-container {
    overflow: hidden;
    position: relative;
    z-index: 2;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto !important;
  }

  .swiper-pagination {
    bottom: -20px !important;

    .swiper-pagination-bullet {
      background: #fff;
      opacity: 0.5;
    }

    .swiper-pagination-bullet-active {
      background: #ffc107;
      opacity: 1;
    }
  }
}
