.breadcrumb {
  background-color: transparent;
  font-size: 0.95rem;

  .breadcrumb-item + .breadcrumb-item::before {
    color: #888;
    content: " / ";
    font-weight: 500;
  }

  .breadcrumb-item a {
    transition: color 0.3s ease;

    &:hover {
      color: darken(#000, 10%);
      text-decoration: underline;
    }
  }

  .breadcrumb-item.active {
    font-weight: 700;
    color: #000;
  }
}
