.suggested-offers-section {
  position: relative;
  padding: 30px 20px;
  border-radius: 12px;
  margin: 40px 0;
  background-image: url("/assets/images/background5.png"); // 🔁 ضع صورة جذابة هنا
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: 1;

  .section-title {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    position: relative;
    z-index: 2;
  }

  .swiper-container {
    overflow: hidden;
    position: relative;
    z-index: 2;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto !important;
  }

  .swiper-pagination {
    bottom: -20px !important;
    .swiper-pagination-bullet {
      background: #777;
      opacity: 0.5;
    }

    .swiper-pagination-bullet-active {
      background: #000;
      opacity: 1;
    }
  }
}
